<div class="topnav">
    <div class="topNav-left">
        <a href="/">Home</a>
        <a href="/game">Test Of game list</a>
        <a href="/tag">Test Of tag</a>
    </div> <!-- topnav-left end -->
    <div class="topnav-right">
        <!-- If user is logged in -->
        <% if(user && user.id) { %>
        <div class="dropdown">
            <button class="dropbtn">
                <%= user.nickname %>
            </button>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="/auth/logout">Logout</a>
                <a href="#">Link 3</a>
            </div> <!-- drowdonw-content end -->
        </div> <!-- drowdown end -->
        <!-- If user is not logged in -->
        <% } else { %>
            <div class="dropdown">
                <button class="dropbtn">
                    Login/Join
                </button>
                <div class="dropdown-content">
                    <a href="/login">login</a>
                    <a href="/join">join</a>
                </div> <!-- drowdonw-content end -->
            </div> <!-- drowdown end -->
        <% } %>
    </div> <!-- topnav-right end -->
</div> <!-- topnav end -->