<div class="header">
    <a href="/">모두의반찬</a>
        <select id="search">
            <option value="food">반찬이름</option>
            <option value="store">가게이름</option>
        </select>
        <input id="banchansearch" type="text" name="banchansearch" placeholder="찾고싶은반찬을입력해주세요">
        <button type="submit" name="search" onclick="search()">search</button>
    <div class="search-list">

    </div>
</div>

<div id="addtionalNav" class="addtionalNav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeAddtionalNav()">&times;</a>
    <a href="/store/list">Store</a>
    <a href="/food/list">Food</a>
    <a href="/sale/list">SaleList</a>
    <a href="/map/">map</a>
    <a href="#">CustomerServices</a>
</div>
<div class="navbar">
<span class="addtionalSpan" onclick="openAddtionalNav()">&#9776; Category</span>
    <div class="dropdown">
    <button class="dropbtn">반찬
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
    </div>
    <div class="dropdown">
    <button class="dropbtn">국/찌게</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <div class="dropdown">
    <button class="dropbtn">도시락류
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
    </div>
    <% if(user && user.id) { %>
        <div class="dropdown" style="float: right">
            <button class="dropbtn"><%= user.nickname %></button>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="/auth/logout">Logout</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    <% } else { %>
        <div class="dropdown" style="float: right">
            <button class="dropbtn">Login/Join</button>
            <div class="dropdown-content">
                <a href="/join">Join</a>
                <a href="/login">Login</a>
            </div>
        </div>
    <% } %>
    <%= %>
</div>

<style>
.header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.search-list {
  position: relative;
  display: inline;
}

.search-list li {

}

.header button[type=submit] {
    width: 5%;
    background-color: #FF9E91;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.header input[type=text] {
  padding: 6px;
  border: 3;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  width: 40%
}

.header select {
  padding: 6px;
  height: auto;
  border-radius: 4px;
  cursor: pointer;
}

.header a {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
}

.navbar {
    overflow: hidden;
    width: 100%;
    position: fixed;
    background-color: #FF9E91;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar p {
    float: right  ;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.addtionalNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FF9E91;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.addtionalNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.addtionalNav a:hover {
    color: #f1f1f1;
}

.addtionalNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.addtionalSpan {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor:pointer;
}
</style>

<script>
$("#banchansearch").keyup(function() {
    var stand = $('select#search').val();
    var word = $('#banchansearch').val();
    if(word) {
    var xhr = new XMLHttpRequest();
        xhr.onload = function() {
            if(xhr.status === 200) {
                var result = JSON.parse(xhr.responseText).result;
            } else {
                console.error(xhr.responseText);
            }
        };
    xhr.open('POST', '/autocomplete');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({ stand: stand, word: word }));
    }
});

function openAddtionalNav() {
    document.getElementById("addtionalNav").style.width = "250px";
}

function closeAddtionalNav() {
    document.getElementById("addtionalNav").style.width = "0";
}

function search() {
    var search = $('#search').val();
    var word = $('#banchansearch').val();
    location.href="/search?search=" + search + "&word=" + word;
}
</script>