<!--
    Author: Youngjin Kwak,
    LastUpdated: 11/09/2019
    Purpose: changePassword form html
-->
<!DOCTYPE html>
<html>
    <head>
        <% include ../layout %>
    <head>
    <body>
        <% if ( passError.length > 0 ) { %>
            <p>Message: <%= passError %> </p>
        <% } %>
        <%= %>
        <div class="login">
            <form method="POST" action="/auth/changePassword">
                <input type="hidden" name="token" value="<%= token %>">
                <label for="password">password</label>
                <input type="password" name="password"><br>
                <button type="submit">submit</button>
                <button type="reset">rest</button>
            </form>
        </div>
    </body>
</html>
