<!--
    Author: Youngjin Kwak,
    LastUpdated: 11/09/2019
    Purpose: findPassword form html
-->
<!DOCTYPE html>
<html>
    <head>
        <% include ../layout %>
    <head>
    <body>
        <% if ( passError.length > 0 ) { %>
            <p>Message: <%= passError %> </p>
        <% } %>
        <%= %>
        <div class="login">
            <form method="POST" action="/auth/findPassword">
                <label for="email">email</label>
                <input type="email" name="email"><br>
                <button type="submit">submit</button>
                <button type="reset">rest</button>
            </form>
        </div>
    </body>
</html>
