body {
    font-family: Arial;
    padding: 0px 200px 0px 200px;
    margin: 0;
    background: #F2F2F2;
}

.topnav {
    overflow: hidden;
    background-color: #AE85FF;
    padding: 0 10px 0px 10px;
  }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #91A7FF;
    color: #f2f2f2;
    border-bottom: black 4px solid;
}

.topnav-right {
    float: right;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    margin-right: 10px;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #91A7FF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8079E8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #8079E8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 23.2%;
    padding: 0 10px;
    margin-bottom: 20px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: white;
}

.card img {
    border-radius: 20px;
    width: 100%;
    height: 200px;
}

.card a {
    text-decoration: none;
}

.card a:hover {
    color: gray;
}

/*********************************************************************
*   infomation 시작
*   Author: Youngjin Kwak
**********************************************************************/

.infomation {
    height: 300px;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    background-color: white;
}

.infomation h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

.infomation img {
    border-radius: 20px;
    margin-right: 20px;
    float: left;
    width: 500px;
    height: 100%;
}

.infomation button {
    float: right;
    background-color: #AE85FF;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.infomation button a {
    text-decoration: none;
    color: white;
}

.info-description {
    font-size: 30px;
}

.info-writeBox {
    margin-right: 10px;
}

/*********************************************************************
*   search-bar 시작
*   Author: Youngjin Kwak
**********************************************************************/
.search-bar {
    text-align: right;
    margin: 0px 0px 30px 0px;
}

.search-bar input[type=text] {
    width: 300px;
    height: 30px;
}

/*********************************************************************
*   search-bar 시작
*   Author: Youngjin Kwak
*   10/18/2019
**********************************************************************/
.footer {
    left: 0;
    bottom: 0;
    padding: 10px;
    background-color: #AE85FF;
    color: white;
    text-align: center;
    font-size: 20px;
}