/*
https://color.adobe.com/ko/search?q=black
*/
/* Color Theme Swatches in Hex */
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-1-hex { color: #F2F2F2; }
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-2-hex { color: #A6A6A6; }
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-3-hex { color: #737373; }
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-4-hex { color: #404040; }
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-5-hex { color: #262626; }

/* Color Theme Swatches in RGBA */
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-1-rgba { color: rgba(242, 242, 242, 1); }
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-2-rgba { color: rgba(165, 165, 165, 1); }
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-3-rgba { color: rgba(114, 114, 114, 1); }
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-4-rgba { color: rgba(63, 63, 63, 1); }
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-5-rgba { color: rgba(38, 38, 38, 1); }

/* Color Theme Swatches in HSLA */
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-1-hsla { color: hsla(0, 0, 95, 1); }
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-2-hsla { color: hsla(0, 0, 65, 1); }
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-3-hsla { color: hsla(0, 0, 45, 1); }
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-4-hsla { color: hsla(0, 0, 25, 1); }
.Panorama-dark-grey-black-slate-background-or-texture.Panorama-black-slate-background-5-hsla { color: hsla(0, 0, 15, 1); }
body {
    font-family: Arial;
    margin: 0;
}

.content {
    padding: 30px;
    color: white;
    background: black;
}

.content a {
    color: white;
}

.content a:visited {
    text-decoration: none;
}