body {
    font-family: Arial;
    padding: 0px 200px 0px 200px;
    margin: 0;
    background: #F2F2F2;
}

.topnav {
    overflow: hidden;
    background-color: #AE85FF;
    padding: 0 10px 0px 10px;
  }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #91A7FF;
    color: #f2f2f2;
    transition-duration: .15s;
    border-bottom: black 4px solid;
}

.topnav-right {
    float: right;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #91A7FF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8079E8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #8079E8;
}

.dropdown:hover .dropdown-content {
    display: block;
}