<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layout %>
</head>
<body>
    <% include ../top-nav %>
    <div class="content">
        <%= game.id %>
        <%= game.title %>
    </div>
</body>
</html>