<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layout %>
</head>
<body>
    <% include ../top-nav %>
    <div class="content">
        <div class="infomation">
            <img src="/uploads/game/<%= game.img %>" alt="">
            <h1><%= game.title %></h1>
            <p class="info-description"><%= game.description %></p>
        </div>
    </div>
</body>
</html>